 /* Styles for the Winners table */
 .component-container {
  background: linear-gradient(45deg, #00bcd4, #ff4081);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 .winners-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.winners-table th,
.winners-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.winners-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

.winners-table tr:last-child td {
  border-bottom: none;
}

.winners-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.winners-table tbody tr:hover {
  background-color: #eaf6ff;
}